body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.overlay {
    position: fixed;
    z-index: 5000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.overlay .spinner {
    left: 50%;
    top: 45%;
}

.header {
    position: fixed;
    width: 100%;
    height: 50px;
    background: #3BAFDA;
    color: #FFF;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(51, 51, 51, 0.43);
    padding: 15px 10px 15px 10px;
    font-size: 16px;
}

.header a {
    color: #FFF;
}

.header .tools {
    float: right;
}

.content {
    padding: 50px 0 0 0;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    overflow-y: scroll;
    background: #EEE;
}

.threads {
}

.thread {
    cursor: pointer;
    height: 50px;
    border-bottom: 1px solid #D6D4D4;
    padding: 15px;
}

.thread .name {
    float: left;
}

.thread .unread {
    float: right;
}

.thread:hover {
    background: #FAFAFA;
}

.main-container {
    margin: 0 0 0 250px;
}

.messages {
    height: 100%;
    padding: 10px 10px 60px 10px;
    clear: both;
    overflow: hidden;
}

.pending-message {
    float: left;
    clear: both;
    width: 100%;
    height: 35px;
    padding: 8px 0 0 0;
    text-align: center;
    background: #EEE;
}

.message-wrapper {
    float: left;
    margin: 0 0 15px 0;
    clear: both;
}

.message-wrapper.sent {
    float: right;
}

.message {
    padding: 15px;
    background: #FFF;
    border: 1px solid #EEE;
    border-radius: 4px;
}

.message .date {
    font-size: 12px;
    color: #AAA;
}

.message-wrapper.sent .message {
    background: #E3FFDE;
}

.send-bar {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    padding: 8px;
    height: 50px;
    background: #EEE;
    border-top: 1px solid #DDD;
}

.recv-msg, .sent-msg {
    height: 50px;
    background: #EEE;
    margin: 0 0 10px 0;
    padding: 10px;
}

.recv-msg {
    text-align: left;
}

.sent-msg {
    text-align: right;
}