<% if (message.type == 1) { %>
    <div class="name">
        <%= message.name %>
    </div>
<% } %>

<div class="message">
    <div class="text">
        <%= message.message %>
    </div>
    <div class="date">
        <%= message.date %>
    </div>
</div>