<div class="input-group">
    <input type="text" id="message-input" class="form-control" placeholder="Send a message">
    <span class="input-group-btn">
        <button id="send-btn" class="btn btn-primary">Send</button>
    </span>
</div>