
<div class="name">
    <% if (thread.name === '') { %>
        <%= thread.address %>
    <% } else { %>
        <%= thread.name %>
    <% } %>
</div>
<% if (thread.unread > 0) { %>
    <div class="unread">
        <span class="label label-danger"><%= thread.unread %></span>
    </div>
<% } %>